body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B0E0B2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #4CAF50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  background: linear-gradient(135deg, #f1ffea 50%, #4CAF50 50%);
  border-radius: 10px;
}

.hero-content {
  flex: 1 1 45%;
}

.hero-content h2 {
  font-size: 36px;
  margin: 0;
  color: #000000;
}

.hero-content p {
  color: #000000;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  background-color: #32a852;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 0;
}

.hero-image img {
  max-width: 100%;
  border-radius: 10px;
}

.hero-image {
  flex: 1 1 45%;
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}

.feature {
  text-align: center;
  flex: 1 1 45%;
  background-color: #f1ffea;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.feature img {
  max-width: 50px;
  margin-bottom: 10px;
}

.feature h3 {
  color: #000000;
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  text-align: center;
  padding: 20px;
}

.description h2 {
  color: #000000;
  font-size: 32px;
  margin-bottom: 20px;
}

.description p {
  color: #000000;
  margin-bottom: 20px;
}

.points {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.point {
  flex: 1 1 45%;
  text-align: left;
}

.point h3 {
  color: #000000;
  font-size: 20px;
  margin-bottom: 10px;
}

.point p {
  color: #000000;
}

@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 28px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .hero-image {
    margin-top: 20px;
  }

  .features {
    flex-direction: column;
  }

  .feature {
    flex: 1 1 100%;
  }

  .points {
    flex-direction: column;
  }

  .point {
    flex: 1 1 100%;
  }
}
